<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="py-md-2 px-3 px-md-0 navbar-brand">
            <a title="{{ site.organization-name }}" class="p-2 p-md-0" href="{{ '/' | relative_url }}">
                <img class="img-fluid inside-logo" src="{{ site.organization-logo-nav | relative_url }}" alt="INSIDE Idaho [logo]"></a>
        </div>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item mx-2">
                    <a class="nav-link mt-1{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
                </li>

                <li class="nav-item mx-2 dropdown">
                    <a class="nav-link mt-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for a in site.data.applications%}
                        <a class="dropdown-item" href="{{a.link}}">{{a.title}}</a>{%endfor%}
                    </div>
                </li>

                <li class="nav-item mx-2{% if page.url == '/faq.html' %} active{% endif %}">
                    <a class="nav-link mt-1" href="{{ '/faq.html' | relative_url }}">FAQ</a>
                </li>

                <li class="nav-item mx-2{% if page.url == '/about.html' %} active{% endif %}">
                    <a class="nav-link mt-1" href="{{ '/about.html' | relative_url }}">About</a>
                </li>

                <li class="nav-item mx-2{% if page.url == '/search.html' %} active{% endif %}">
                    <a class="nav-link mt-1" href="{{ '/search.html' | relative_url }}">Search</a>
                </li>

                <li class="nav-item mt-1">
                    <a class="nav-link  btn btn-lg btn-outline-pride-gold ml-2" href="#" data-toggle="modal" data-target="#helpModal"> <span class="far fa-comment-dots"> </span> Help</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
