<div class="w-25 card text-center float-right ml-md-4 d-md-block d-none">
    <div class="card-body">
    <h5>Support and hosting provided by: </h5>
    <p class="text-center my-4">
        <a href="https://www.lib.uidaho.edu/" target="_blank" rel="noopener">
            <img class="img-fluid" src="https://www.lib.uidaho.edu/media/images/ui_library_horizontal.png" alt="University of Idaho">
        </a>
    </p>
    <p class="text-center my-4">
        <a href="https://www.northwestknowledge.net/home" target="_blank" rel="noopener">
            <img class="img-fluid" src="https://www.northwestknowledge.net/sites/default/files/ui-nkn-logo-hz.png" alt="Northwest Knowledge Network">
        </a>
    </p>
    </div>
</div>