<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-md-none col-8">
            <a class="p-2" href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name }} logo">
            </a>
        </div>

        <div class="py-2 navbar-brand">
            <a title="{{ site.organization-name }}" class="d-none d-lg-block" href="{{ '/' | relative_url }}">
                <img class="img-fluid inside-logo" src="{{ '/assets/img/transparent_header.png' | relative_url }}" alt="University of Idaho Library [logo]"></a>
        </div>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item mx-2">
                    <a class="nav-link mt-1" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link mt-1 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for a in site.data.applications%}
                        <a class="dropdown-item" href="{{a.link}}">{{a.title}}</a>{%endfor%}
                    </div>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link mt-1" href="/FAQ/">FAQ</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link mt-1" href="/about.html">About</a>
                </li>

                <li class="nav-item mt-1">
                    <a class="nav-link  btn btn-lg btn-outline-pride-gold ml-2" href="#" data-toggle="modal" data-target="#helpModal"> <span class="far fa-comment-dots"> </span> Help</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
