<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-md-none col-8">
            <a class="p-2" href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img class="img-fluid" id="mobile-nav-image" src="{{ site.organization-logo-nav | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name }} logo" >
            </a>
        </div>

        <div class="py-2 navbar-brand">
            <a title="{{ site.organization-name }}" class="d-none d-lg-block" href="{{ '/' | relative_url }}">
                <img class="img-fluid inside-logo" src="{{ '/assets/img/transparent_header.png' | relative_url }}" alt="University of Idaho Library [logo]"></a>
        </div>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav ml-auto">
                {% for nav in site.data.config-nav %}
                <li class="nav-item {% if page.url == nav.stub %}active{% endif %}">
                    <a class="nav-link mt-1" href="{{ nav.stub | relative_url }}">{{ nav.display-text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>    
</nav>
