<div class="col-md-4 text-center float-right  ml-md-4 d-md-block d-none">
    <h5>Support and hosting provided by: </h5>
                <p class="text-center my-4">
                    <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                        <img class="img-fluid col-12 col-md-6" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} logo">
                    </a>
                </p>
                <p class="text-center my-4">
                    <a href="https://www.northwestknowledge.net/home" target="_blank" rel="noopener">
                        <img class="img-fluid col-12 col-md-6" src="https://www.northwestknowledge.net/sites/default/files/ui-nkn-logo-hz.png" alt="Northwest Knowledge Network logo">
                    </a>
                </p>
                
    
            </div>