.inside-logo {
    max-height: 80px;
}

/* cards */
.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

footer .img-fluid{max-width: 300px;}

.hidden{display: none;}

/* new carousel */ 
#index-carousel {
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    a {
        color:white !important;
    }
    .carousel-item {
        width: 100%;
        @media (min-width: 768px) {
            height: 500px;
        }
        img {
            width:100%; 
            object-fit: cover;
            font-family: 'object-fit: cover;';
            height:300px;
            @media (min-width: 768px) {
                height: 500px;
            }
        }
    }
}
#carousel-pause { 
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    z-index: 99;
}
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
    -o-object-fit: $fit;
       object-fit: $fit;
    @if $position {
        -o-object-position: $position;
           object-position: $position;
        font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    } @else {
        font-family: 'object-fit: #{$fit}';
    }
}
.carousel-caption { 
    background: rgba(0, 0, 0, 0.7); 
    min-width:450px;
    width:auto;
    bottom: 30px;
    left: 40%;
    hr {
        border-color: #666; 
        width:50%;
        margin:auto; 
        border-style: dotted;
    }
}