<div class="row py-1 px-5 my-4">
    <div class="col-md-12 text-center">
        <h2>University of Idaho Resources</h2>
        <hr class="w-50 pb-2">
    </div>
    {%- for f in site.data.universityresources -%}
    <div class="col-lg-4 col-md-6">
        <div class="card mx-4 my-4 text-center">
            <img class="lazyload card-img-top" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ f.image }}" alt="{{ f.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ f.title }}</h5>
                <p class="card-text">{{ f.description }}<p>
                <a href="{{ f.link }}" class="btn btn-info" target="_blank" rel="noopener">{{ f.button }}</a>
            </div>
        </div>
    </div>
    {%- endfor -%}

</div>